<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lim's Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Christopher Lim</a>
        </div>
      
          <ul class="nav navbar-nav">
            <li class="active"><a data-toggle="pill" href="#about">About</a></li>
            <li><a data-toggle="pill" href="#portfolio">Portfolio</a></li>
            <li><a data-toggle="pill" href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
   
      </div>
    </nav>
    
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Christopher Lim</h1>      
        <p>Software Engineer || Fitness Enthusiast</p>
      </div>
    </div>
    
    <body>

    <div class='tab-content'>
    <!-- About me Section -->
    <div id='about' class='container-fluid text-center bg-grey tab-pane fade in active'>
      <h3> About</h3>
      <p>I am born and raised from the Island of the Philippines. Went to the United State at the age of 16, just after graduating
        Highschool. Before I was in Origin, I was a Pharmacy Technician in a private owned retail Pharmacy. But after working on
        that job for a couple of years. I wake up one day that I want to improve myself and rediscover my passion for programming.
      </p>
    </div>

    <!-- Portfolio Here -->
    <div id='portfolio' class='container-fluid text-center bg-grey tab-pane fade'>
        <h3> Portfolio</h3>
        <h4>Some Projects that I work on:</h4>
      <div class='col-sm-4'>
        <p>San Diego Top Spots</p>
        <a href='https://lim-san-diego-top-spots.herokuapp.com/' target='_blank'>
        <img src='https://placehold.it/150x80?text=IMAGE' class='img-responsive' style="width:100%" alt="San Diego Top Spots">'
        </a>
      </div>

      <div class='col-sm-4'>
          <p>Mortgage Calculator</p>
          <a href='https://lim-mortgage-calculator.herokuapp.com/' target='_blank'>
          <img src='https://placehold.it/150x80?text=IMAGE' class='img-responsive' style="width:100%" alt="San Diego Top Spots">'
          </a>
        </div>

        <div class='col-sm-4'>
            <p>VSTDA</p>
            <a href='https://lim-vstda.herokuapp.com/' target='_blank'>
            <img src='https://placehold.it/150x80?text=IMAGE' class='img-responsive' style="width:100%" alt="San Diego Top Spots">'
            </a>
          </div>

      </div>

    <!-- Contacts Here -->
    <div id='contact' class='container-fluid text-center bg-grey tab-pane fade'>
        <h3> Contact</h3>
        <div class="col-md-8">
            <form class="row" action="/thanks" method="POST">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="firstName" name="firstName" placeholder="Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              </div>
              <textarea class="form-control" id="comment" name="comment" placeholder="Comment" rows="5"></textarea>
              <br>
              <div class="row">
                <div class="col-md-12 form-group">
                  <button class="btn pull-right" type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
      </div>
</div>
    <footer class="container-fluid text-center">
        <p>Copyright Christopher Lim 2018. All Rights Reserve</p>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>